<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube</title>
</head>
<body>
    <div class= "container">
        <label>YouTube Page</label>
        <p>This is the main youtube page.</p>
        <hr />
    </div>
</body>
</html>