<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetList</title>
</head>
<body>
    <div class= "container">
        <header style="height: 200px; background-color: rgb(147, 22, 22)"></header>
        <h2>This is Header</h2>
        <div>
            <h2>This is my Show Employee Page</h2>
        </div>
        <footer style="height: 100px; background-color: rgb(147, 22, 22)"></footer>
        <h2>This is Footer</h2>
    </div>
</body>
</html>